/* Reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #222; /* dark background */
  color: white;
  font-family: 'Arial', sans-serif;
}

h1 {
  margin: 30px 0;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

p {
  margin: 30px 0;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

#canvas-container {
  margin: 0 auto;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
}